#header {
	margin-left: 250px;
}

#eventList {
	margin-left: 200px;
}

.buttons {
	float: right;
	margin-top: -55px;
}

.buttons button {
	width: 100px;
	margin-bottom: 5px;
}

#editEventForm {
	margin-left: 200px;	
	width: 50%;
}

#editPresentations {
	margin-left: 15px;	
}

.errorEventEdit {
	display:inline-block; 
	width: 160px; 
	font-size: 14px;
	color: #990000;
}

#eventDetailsInfo {
	padding: 50px;
	text-align: center;
}

#presDetInfo {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
