<br>
<br>
<div ng-controller="eventListCtrl">
	<div id="header">
		<h1>
			<span class="text-muted">Tech Feast Events</span>
			<button class="btn btn-primary" ng-click="createEvent()" ng-if="isAuthorizedRole(userRoles.organizer)">Create event</button>
		</h1>
	</div>
	<br>
	<div id="eventList">
		<div class="col-xs-6">
			<div class="well clearfix" ng-repeat="item in data | orderBy: 'event.date'">
				<h2>
					<strong>{{$index + 1}}</strong>
						<span class="label label-primary">
							{{formatDate(item.event.date) }}							
							{{item.event.place}}
						</span>					
				</h2>
				<div class="buttons" ng-if="isAuthorizedRole(userRoles.presenter)">
					<button class="btn btn-primary" ng-click="showDetails(item.event.id)" ng-if="isAuthorizedRole(userRoles.organizer)">Show details</button>
					<br>
					<button class="btn btn-primary" ng-click="editEvent(item.event.id)" ng-if="isAuthorizedRole(userRoles.superorganizer)">Edit</button>
					<br>
					<button class="btn btn-danger" ng-if="isAuthorizedRole(userRoles.superorganizer)">Delete</button>
				</div>
				<div ng-repeat="presentation in item.presentations | orderBy: 'time'">
					<h3>
						<span class="text-muted">
								{{$index + 1}}
						</span>
						<span class="text-primary">
								{{presentation.time}}
						</span>
						<span class="text-info">
								{{presentation.name}}
						</span>
					</h3>
				</div>
			</div>
		</div>
	</div>
</div>
