<div class="alert alert-danger" ng-show="errorInfo">
    Error. Please try again
</div>

<br>
<div id="editEventForm">
    <div class="well">
        <h1>Edit Event</h1>

        <form class="form-horizontal" name="eventForm" novalidate>
            
            <div class="control-group">
                <label class="control-label" for="date" style="font-size: 15pt">Date:</label>
                <div class="controls">
                    <input type="date" id="date" ng-model="data.event.date" required/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="place" style="font-size: 15pt">Place:</label>
                <div class="controls">
                    <input type="text" id="place" ng-model="data.event.place"/>
                </div>
            </div>

            <br/>            
            <h2>Edit Presentations</h2>

            <div id="editPresentations">
                <span class="formLabels">Time </span>
                <span style="display:inline-block; width: 175px; font-size: 15px; font-weight: bold;">Name </span>
                <span style="display:inline-block; width: 175px; font-size: 15px; font-weight: bold;">Presenters </span>
                <span style="display:inline-block; width: 175px; font-size: 15px; font-weight: bold;">Description </span>
                <br/>
                <br/>                
                <div ng-repeat="presentation in data.presentations">
                    
                    <div class="form-inline">
                        
                        <input type="text" class="form-control-static" name="time" id="time" ng-model="presentation.time" required />
                        
                        <input type="text" class="form-control-static" name="name" id="name" ng-model="presentation.name" required/>                    
                    
                        <input type="text" class="form-control-static" style="margin-top: -20px;" name="presenters" id="presenters" ng-model="presentation.presenters" required />                                    
                    
                        <textarea name="description" rows="4" class="form-control" id="description" ng-model="presentation.description" required></textarea>

                        <a class="btn btn-danger" style="margin-left: 10px;" ng-click="removePresentation($index)">Remove</a>
                        <br/>
                    </div>                    
                    <br/> 
                                       
                </div>
                <span class="errorEventEdit" style="width:175px;"><h5 ng-show="eventForm.time.$error.required">Enter time</h5></span>
                <span class="errorEventEdit" style="width:175px;"><h5 ng-show="eventForm.name.$error.required">Enter a name</h5></span>
                <span class="errorEventEdit" style="width:175px;"><h5 ng-show="eventForm.presenters.$error.required">Enter presenters</h5></span>
                <span class="errorEventEdit" style="width:175px;"><h5 ng-show="eventForm.description.$error.required">Enter description</h5></span>
                <br/>
                <br/>
                <a class="btn btn-success" ng-click="addPresentation()">Add presentation</a>
            </div>
            <br>
            
            <div class="control-group">
                <div class="controls">
                    <a ng-click="cancel()" class="btn btn-info">Cancel</a>
                    <a ng-click="updateEvent()" class="btn btn-small btn-primary" ng-disabled="eventForm.$invalid">Update event</a>
                </div>
            </div>
        </form>
    </div>
</div>
