<br>
<div id="addEventForm">
    <div class="well">
        <h1>Create Event</h1>

        <form class="form-horizontal" name="eventForm" novalidate>
            
            <div class="control-group">
                <label class="control-label" for="date" style="font-size: 15pt">Data:</label>
                <div class="controls">
                    <input type="date" id="date" ng-model="data.event.date" required/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="place" style="font-size: 15pt">Miejsce:</label>
                <div class="controls">
                    <input type="text" id="place" ng-model="data.event.place"/>
                </div>
            </div>

            <br/>            
            <h2>Dodaj prezentację</h2>

            <div id="addPresentations">
                <span style="display:inline-block; width: 240px; font-size: 14px">Czas </span>
                <span style="display:inline-block; width: 160px; font-size: 14px">Nazwa </span>
                <span style="display:inline-block; width: 170px; font-size: 14px">Prezenterzy </span>
                <span style="display:inline-block; width: 170px; font-size: 14px">Opis </span>
                <div ng-repeat="presentation in data.presentations">
                    
                    <div class="row form-inline">
                        
                        <div class="form-group">
                             
                            <input type="text" class="form-control" name="time" id="time" ng-model="presentation.time" required />  
                            <input type="text" class="form-control" name="name" id="name" ng-model="presentation.name" required/>
                            <input type="text" class="form-control" name="presenters" id="presenters" ng-model="presentation.presenters" required />                      
                     
                            <input type="text" class="form-control" name="description" id="description" ng-model="presentation.description" required/>
                      

                     
                        <a class="btn btn-danger" ng-click="removePresentation($index)">Usuń</a>
                     
                        </div>

                         </div>
                        <br/>
                    </div>                    
                    <br/> 
                                       
                </div>
                <span class="errorEventEdit"><h5 ng-show="eventForm.time.$error.required">Brak czasu</h5></span>
                <span class="errorEventEdit"><h5 ng-show="eventForm.name.$error.required">Brak nazwy</h5></span>
                <span class="errorEventEdit"><h5 ng-show="eventForm.presenters.$error.required">Brak prezenterów</h5></span>
                <span class="errorEventEdit"><h5 ng-show="eventForm.description.$error.required">Brak opisu</h5></span>
                <br/>
                <br/>
                <a class="btn btn-success" ng-click="addPresentation()">Dodaj prezentację</a>
            </div>
            <br>
            
            <div class="control-group">
                <div class="controls">
                    <a ng-click="back()" class="btn btn-info">Powrót</a>
                    <a ng-click="saveEvent()" class="btn btn-small btn-primary" ng-disabled="eventForm.$invalid">Dodaj wydarzenie</a>
                </div>
            </div>
        </form>
    </div>
</div>
