<!DOCTYPE html>
<html ng-app="techFeast">
    <head>
    	<meta charset="utf-8">
        <title>Tech-feast web</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap-theme.css")">
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
		<script src="@routes.Assets.versioned("lib/angularjs/angular.js")"/></script>
		<script src="@routes.Assets.versioned("lib/angularjs/angular-route.js")"/></script>
		<script src="@routes.Assets.versioned("lib/angularjs/angular-cookies.js")"/></script>
		<script src="@routes.Assets.versioned("lib/angularjs/angular-resource.js")"/></script>
		<script src="@routes.Assets.versioned("lib/ng-table/ng-table.js")"/></script>
        <script src="@routes.Assets.versioned("javascripts/controllers/applicationController.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/controllers/authenticationController.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/controllers/eventsController.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/controllers/eventController.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/controllers/usersController.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/controllers/services.js")"></script>
    </head>
    <body ng-controller="ApplicationCtrl">
    <div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-left" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Tech Feast System</a>
        </div>
            <div data-ng-switch="!!currentUser" data-ng-cloak>
                <div data-ng-switch-when="true">
                    <form class="navbar-form navbar-right" role="form" data-ng-submit="logout()" data-ng-controller="AuthenticationCtrl">
                        <button type="submit" class="btn btn-default">Logout {{currentUser.email}}</button>
                    </form>
                </div>
                <div data-ng-switch-default>
                    <form class="navbar-form navbar-right" role="form" data-ng-submit="login(credentials)" data-ng-controller="AuthenticationCtrl">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="UUID" data-ng-model="credentials.uuid" required>
                        </div>
                            <button type="submit" class="btn btn-default">Login</button>
                        </form>
                </div>
            </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" data-ng-switch="!!currentUser">
                <li ng-if="isAuthorized(userRoles.superuser)"><a href="#/users">Zarządzaj użytkownikami</a></li>
                <!--<li class="active" data-ng-switch-when="true"><a href="#">{{ currentUser.email }}</a></li>-->
                <!--<li class="active" data-ng-switch-when="false"><a href="#">false</a></li>-->
                <!--<li class="active" data-ng-switch-default><a href="#">default</a></li>-->
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
    	<ng-view />
    	</div>
    </body>
</html>